/*----------------- Menu -----------------------*/
header {
  background-color: var(--baggrundsfarve);
  border-bottom: solid black 6px;
  /* så den forblier synlig */
  position: sticky;
  /* placering i toppen vel */
  top: 0;
  /* så logo og tekst er horisontale */
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */

  /* Så Css filter ikker scrolles over menuen */
  z-index: 1;
}

/* header nav {
  
} */

.logo {
  width: 4rem;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

header nav ul li a {
  text-decoration: none;
}