/*----------------- Reset -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*----------------- Menu -----------------------*/
header {
  background-color: var(--baggrundsfarve);
  border-bottom: solid black 6px;
  /* så den forblier synlig */
  position: sticky;
  /* placering i toppen vel */
  top: 0;
  /* så logo og tekst er horisontale */

  /* justify-content: flex-end; */

  /* Så Css filter ikker scrolles over menuen */
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

/* logo width for img'et, som jeg har fjernet nu */
.logo {
  width: 4rem;
}

header li {
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: black;
}

/* Burger */

.burger {
  /* placering i midten af menuen (y-akse) */
  place-self: center;
  /* afstand til højre side af vindue */
  margin: 0 1rem;
  cursor: pointer;
}

.burger_bar {
  display: block;
  background-color: black;
  width: 40px;
  height: 5px;
  margin: 8px;

  /* width: 25px;
  height: 3px;
  margin: 5px; */
  /* lækker overgang til kryds, dog drop på nr2 */
  transition: ease-in 0.4s;
}

/* burger kryds */
.burger_aktiv .burger_bar:nth-child(2) {
  /* kun to linjer skal bruges til burgerkryds, derfor er den midterste usynlig */
  opacity: 0;
}

.burger_aktiv .burger_bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.burger_aktiv .burger_bar:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

.menu_liste {
  position: fixed;
  background-color: var(--baggrundsfarve);
  width: 101%;
  /* slide fra højre test og mindre*/
  /* left: 100%; slide fra højre test og mindre */

  /* hide from view */
  left: 101%;
  /* top placering, under første menubar */
  top: 70px;
  /* gap: 0; er denne gap overhovedet nødvendig, gap:0 , er vel default eller?*/
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: solid black 6px;
  border-left: solid black 6px;

  /* transition */
  transition: ease-in 0.5s;
}

.aktiv {
  left: -1%;
  /* slide fra højre test og mindre*/
  /* left: 50%; slide fra højre test og mindre */
}

/* ------ Style på menu_liste ------------- */

.portfolio_om_mig {
  font-family: poppins;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav_tema {
  font-family: poppins;
  font-size: 1.2;
}

header li {
  margin-bottom: 0.5rem;
}

.nav_ommig {
  margin-top: 1.5rem;
}

/* menu_liste som flexbox, med gap som afstand mellem linjer */
/* .menu_liste {
  position: fixed;
  background-color: pink;
  width: 100%;
  left: -100%;
  top: 70px;
  gap: 7px;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: solid black 6px;
  border-right: solid black 6px;
  transition: ease-in 0.5s;
  display: flex;
  flex-direction: column;
} */

/* ------ Midlertidigt logo navn */
.logo_navn {
  display: flex;
}
.logo_navn a {
  font-family: mulish;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  place-self: center;
  margin: 0 0 0 1.2rem;
}
.logo_navn span {
  color: var(--farve2);
  font-weight: 900;
  font-size: 2.5rem;
}
