/*----------------- Reset -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------------- CSS properties -----------------------*/

html {
  /* baggrundsfarve */
  --baggrundsfarve: #ffb7c7;

  /* blå */
  --farve2: #0157ff;
}
/* ----------------------- HTML ------------------------- */
html {
  scroll-behavior: smooth;
}

/* ----------------------- CSS animationer ------------------------- */

.pil_ani {
  animation-name: pil_ani_kf;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes pil_ani_kf {
  0% {
  }
  100% {
    translate: 0 110%;
  }
}

/*----------------- Body -----------------------*/
body {
  background-color: var(--baggrundsfarve);
}

/*----------------- Main -----------------------*/

main {
  /* Hvorfor?vi ved men stadig */
  max-width: 1250px;
  /* så margin fordeles lige på højre og venstre */
  margin: 4rem auto 10rem auto;

  /* OBS - hvordan ved banner? 
  undersøg eller lappeløsning 
  padding kun på mobil(tablet)*/
  padding: 0 1rem 0 1rem;
}

/*----------------- Footer -----------------------*/
footer {
  background-color: white;
  padding: 4rem 5rem;
}

/*----------------- Forside -----------------------*/
/* titelskift på forside */
.portefolio_titel {
  text-align: right;
  border-right: solid 13px var(--farve2);
  font-family: poppins;
  /* rgb(64, 0, 255); */
}

/*-------- Vaelg Tema ------------*/

/* blå linje under tema x samt bredde */
.temax {
  border-bottom: solid 10px var(--farve2);
  width: 230px;
}

/* tekststyle på tema x */
.temax p {
  font-family: poppins;
  font-weight: 700;
  line-height: 1.2;
  font-size: 3.7rem;
  text-align: center;
}

/*  tema linket er blot sort  */
.vaelg_tema a {
  text-decoration: none;
  color: black;
}

/* DEN RIGTIGE */
.ramme_og_filter {
  aspect-ratio: 357/260;
  width: 230px;
  overflow: hidden;
  filter: grayscale(100%);
}

.ramme_og_filter img {
  transition: ease-out 0.3s;
  /* prøver at se om de fylder rammen ud med height på 100%
  Ja det virker, men billederne ser ikke lækre ud */
  height: 100%;
  width: auto;
}

/*--- tema x hover--- */

.temax:hover .ramme_og_filter {
  filter: none;
}

.temax:hover img {
  transform: scale(1.2);
}
/* 
Ser ikke fedt ud
.temax:hover p {
  color: var(--farve2);
}

.temax:hover {
  border-bottom: solid 10px black;
} */

.pil_forside {
  width: 120px;
  margin: 1rem 0 0 0;
  margin-inline: auto;
}

/*----------------- Mobil -----------------------*/
@media (max-width: 600px) {
  /* vælg tema på forsiden */
  .vaelg_tema {
    max-width: 230px;
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
  }

  .temax {
    margin: 0 0 5rem 0;
  }
}
/*----------------- Tablet -----------------------*/
@media (min-width: 600px) {
  .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(3, auto);
    gap: 6rem;
    width: 100%;
    /* afstand til pilen er både padding og margin da, menuen ellers skjuler vaelg_tema */
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
    max-width: 556px;
  }
}
/*----------------- Desktop -----------------------*/
@media (min-width: 900px) {
  /*------- forside -------*/
  .portefolio_titel {
    padding-right: 3rem;
  }
  .portefolio_titel p {
    font-size: 8rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 2.2rem;
  }
  /*------- Vaelg tema grid -------*/
  .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, auto);
    gap: 6rem;
    width: 100%;
    /* afstand til pilen er både padding og margin da, menuen ellers skjuler vaelg_tema */
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
    max-width: 882px;
  }

  /* .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, auto);
    gap: 5rem;
    width: 950px;
    margin-inline: auto;

    /* max-width: 900px; */
}
/* display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, auto);
  gap: 5rem;
  max-width: 900px;
  margin-inline: auto; */

/* .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 3rem;
    width: 100%;
    margin-inline: auto;

    /* max-width: 900px; */

/* Test af emnesite tekst */

.usynlig_baggrund_til_pile {
  position: relative;
  padding: 2rem 0 2rem 0;
}

.hvid_baggrund {
  background-color: white;
  width: 100%;
  /* position: relative; */
}

/* .emnesite_tekst {
  max-width: 500px;
} */
.emnesite_hele_teks_del {
  margin-inline: auto;
  max-width: 500px;
  /* så tekst er "bestykket", pile ikke rammer */
  padding: 3rem 1rem 3rem 1rem;
}

.emnesite_blae_border {
  /* blå border */
  border-left: solid var(--farve2) 10px;
  padding: 0 0 0 1rem;
}

.pil_absolute1 {
  position: absolute;
  /* aspect-ratio: 1/1; */
  width: 10%;
  top: 0;
  left: 0;
}

.pil_absolute2 {
  position: absolute;
  /* aspect-ratio: 1/1; */
  width: 10%;
  top: 90%;
  left: 90%;
}
