/*----------------- Reset -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------------- CSS properties -----------------------*/

html {
  /* baggrundsfarve */
  --baggrundsfarve: #ffb7c7;

  /* blå */
  --farve2: #0157ff;
}
/* ----------------------- HTML ------------------------- */
html {
  scroll-behavior: smooth;
}

/* ----------------------- CSS animationer ------------------------- */

.pil_ani {
  animation-name: pil_ani_kf;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes pil_ani_kf {
  0% {
  }
  100% {
    translate: 0 110%;
  }
}

/*----------------- Body -----------------------*/
body {
  background-color: var(--baggrundsfarve);
}

/*----------------- Main -----------------------*/

main {
  /* Hvorfor?vi ved men stadig */
  max-width: 1250px;
  /* så margin fordeles lige på højre og venstre */
  margin: 4rem auto 10rem auto;

  /* OBS - hvordan ved banner? 
  undersøg eller lappeløsning 
  padding kun på mobil(tablet)*/
  padding: 0 1rem 0 1rem;
}

/*----------------- Footer -----------------------*/
footer {
  background-color: white;
  padding: 4rem 0 4rem 1.5rem;
}

footer p {
  font-family: poppins;
}

/*----------------- Forside -----------------------*/
/* titelskift på forside */
.portefolio_titel {
  text-align: right;
  border-right: solid 13px var(--farve2);
  font-family: poppins;
  /* rgb(64, 0, 255); */
}

/*-------- Vaelg Tema ------------*/

/* blå linje under tema x samt bredde */
.temax {
  border-bottom: solid 10px var(--farve2);
  width: 230px;
}

/* tekststyle på tema x */
.temax p {
  font-family: poppins;
  font-weight: 700;
  line-height: 1.2;
  font-size: 3.7rem;
  text-align: center;
}

/* om mig forside */
#ommig_tekst_mindre {
  font-size: 3.5rem;
  padding: 0 0 3.84px 0;
}

/*  tema linket er blot sort  */
.vaelg_tema a {
  text-decoration: none;
  color: black;
}

/* DEN RIGTIGE */
.ramme_og_filter {
  aspect-ratio: 357/260;
  width: 230px;
  overflow: hidden;
  filter: grayscale(100%);
}

.ramme_og_filter img {
  transition: ease-out 0.3s;
  /* prøver at se om de fylder rammen ud med height på 100%
  Ja det virker, men billederne ser ikke lækre ud */
  height: 100%;
  width: auto;
}

/*--- tema x hover--- */

.temax:hover .ramme_og_filter {
  filter: none;
}

.temax:hover img {
  transform: scale(1.2);
}
/* 
Ser ikke fedt ud
.temax:hover p {
  color: var(--farve2);
}

.temax:hover {
  border-bottom: solid 10px black;
} */

.pil_forside {
  width: 120px;
  margin: 1rem 0 0 0;
  margin-inline: auto;
}

/* -------------------- Tema siderne ---------------------- */
/* ------ H1 ----------- */
h1 {
  font-family: poppins;
  text-align: center;
}

/* ---------- Tema sider tekst---------------------- */

/* --- Hvid baggrund rundt om tekst */
.hvid_baggrund {
  background-color: white;
  width: 100%;
  padding: 1rem 0 5rem 0;
}

/* --- div rundt om overskrift og teksten ---*/
.tema_tekst_og_border {
  /* blå border */
  border-left: solid var(--farve2) 10px;
  padding: 0 0 0 1.5rem;
  max-width: 900px;
  margin-inline: auto;
}

/* --- tekst overskriften --- */
.tema_overskrift {
  font-family: poppins;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

/* --- selve brødteksten --- */
.tema_tekst p {
  font-family: mulish;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tema_tekst .p_mrg span {
  font-style: italic;
}
/* P_margin */
.p_mrg {
  /* OBS ændres i mobil og tablet! */
  margin: 0 0 1rem 0;
}

/* - Løesning og proces overskrifter */
.loes_pro_overskrift {
  font-family: mulish;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* ----- Loesning ------- */

.foto_erstatning {
  background-color: antiquewhite;
  aspect-ratio: 2.7/1;
  max-width: 100%;
}

/* loesning grid */
.loesning_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 0 6rem 0;
}

/* knapper */
.knap p {
  font-family: poppins;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  padding: 0.8rem 0;
}

.knap {
  display: grid;
  place-content: center;
  margin: 0 0 1rem 0;
  width: 100%;

  background-color: var(--farve2);
  border: solid 6px var(--farve2);
}

.text_align_c {
  text-align: center;
}

/* knap hover */
.knap_img_div:hover .knap {
  background-color: white;
  border: solid 6px var(--farve2);
}

.knap_img_div:hover .knap p {
  color: var(--farve2);
}

.knap_img_div a {
  text-decoration: none;
}

/* ----- Proces ------- */
/*---- test af proces grid ----*/

.proces_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.proces_grid p {
  font-size: 1.5rem;
  font-family: poppins;
  padding: 0 0 0 1rem;
  border-left: solid 10px var(--farve2);
}

.proces_grid span {
  font-weight: 800;
}

/*-- ekstra padding melllem forskellige procesdele */
/* .proces_ekstra_pad {
  padding: 0 0 3rem 0;
} */

/* proces menu */
/* lav diplay block og flex på den, eller sæt i div?, nej  */
/* test af proces menu som flex */
.proces_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 0 1rem;
}

.proces_menu a {
  font-family: poppins;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}

.proces_menu a:hover {
  color: var(--farve2);
}

/* pilotvideo grid */
.pv_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

/*----------------- Mobil -----------------------*/
@media (max-width: 600px) {
  /*------- forside -------*/
  .portefolio_titel {
    padding-right: 1rem;
    border-right: solid 8px var(--farve2);
  }
  .portefolio_titel p {
    font-size: 2.4rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 0.9rem;
  }

  .pil_forside {
    width: 80px;
  }
  /* vælg tema på forsiden */
  .vaelg_tema {
    max-width: 230px;
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
  }

  .temax {
    margin: 0 0 5rem 0;
  }
  /* ---------------- tema siderne ------------- */
  /* ----- H1 ------ */
  h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  /* ---tema tekst--- */
  .hvid_baggrund {
    margin: 0 0 6rem;
    padding: 0 1rem 3rem 0;
  }
  /* margin mellem 'desktop' kolonner */
  .col_mrg {
    margin: 0 0 1rem 0;
  }

  /* ----- Løsning ----- */
  .loesning_grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0 0 6rem 0;
  }

  /* ----- Proces ----- */
  /* proces menu tema 4 */
  #proces_menu4 {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  /* proces menu tema 6 */
  #proces_menu6 {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .proces_grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .proces_grid p {
    font-size: 1.2rem;
  }

  .proces_grid img {
    margin: 0 0 2.5rem 0;
  }

  /* ik margin under disse fotos */
  .pv_grid .mrg_none {
    margin: 0;
  }

  /* order */

  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .order5 {
    order: 5;
  }
  .order6 {
    order: 6;
  }
  .order7 {
    order: 7;
  }
  .order8 {
    order: 8;
  }
  .order9 {
    order: 9;
  }
  .order10 {
    order: 10;
  }
}

/*----------------- Tablet -----------------------*/
@media (min-width: 600px) {
  /*---------- forside ------------*/
  .portefolio_titel {
    padding-right: 2rem;
    border-right: solid 10px var(--farve2);
  }
  .portefolio_titel p {
    font-size: 5rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 1.8rem;
  }
  /* ---- vaelg tema ----- */
  .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(3, auto);
    gap: 6rem;
    width: 100%;
    /* afstand til pilen er både padding og margin da, menuen ellers skjuler vaelg_tema */
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
    max-width: 556px;
  }

  /* ---------------- tema siderne ------------- */
  /* ----- H1 ------ */
  h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  /* ---tema tekst--- */
  .hvid_baggrund {
    margin: 0 0 5rem;
    padding: 1rem 2rem 4rem 2rem;
  }

  /* -- max width på tema tekst*/
  .tema_tekst_og_border {
    max-width: 600px;
    margin-inline: auto;
  }

  /* løsning */
  .loesning_grid {
    margin: 0 0 5rem 0;
  }
}
/* ----- Proces ----- */
/* proces menu tema 4 */
#proces_menu4 {
  display: flex;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  /* display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 1rem; */
}

/* proces menu tema 6 */
#proces_menu6 {
  display: flex;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/*----------------- Desktop -----------------------*/
@media (min-width: 992px) {
  /*------- forside -------*/
  .portefolio_titel {
    padding-right: 3rem;
  }
  .portefolio_titel p {
    font-size: 8rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 2.2rem;
  }
  /*------- Vaelg tema grid -------*/
  .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, auto);
    gap: 6rem;
    width: 100%;
    /* afstand til pilen er både padding og margin da, menuen ellers skjuler vaelg_tema */
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
    max-width: 882px;
  }
  /* ---------------- tema siderne ------------- */
  /* ----- H1 ------ */
  h1 {
    font-size: 8rem;
    margin-bottom: 1.5rem;
  }
  /* tema tekst grid */
  .tema_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 900px;
  }

  /* fjern max-width fra tablet */
  /* -- max width på tema tekst*/
  .tema_tekst_og_border {
    max-width: 900px;
    margin-inline: auto;
  }

  /* --- Hvid baggrund eunder tekst */
  .hvid_baggrund {
    margin: 0 0 6rem 0;
  }

  /* ----- Proces ----- */
  /* proces menu tema 4 */
  #proces_menu4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0 0 1rem;
  }

  /* proces menu tema 6 */
  #proces_menu6 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0 0 1rem;
  }

  /* .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, auto);
    gap: 5rem;
    width: 950px;
    margin-inline: auto;

    /* max-width: 900px; */
}
/* display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, auto);
  gap: 5rem;
  max-width: 900px;
  margin-inline: auto; */

/* .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 3rem;
    width: 100%;
    margin-inline: auto;

    /* max-width: 900px; */

/* proces og løsning og knap */

/* .loesning_container {
  max-width: 500px;
  padding: 0 1.5rem 0 0;
  border-right: solid 10px var(--farve2);
}
.loesning_container h2 {
  font-size: 2rem;
  text-align: right;
}

.proces_container {
  max-width: 500px;
}

.proces_container img {
  max-width: 500px;
}
*/

/* .proces_loesning_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
  gap: 80px;
  max-width: 1080px;
} */

/* forside blomster test */
.fs_blomster {
  max-width: 600px;
}

/* .fs_blomster_titel_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.fs_blomster_titel_grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Om mig tester */
/* CV */
.cv {
  padding: 0 2rem 0 2rem;
  border-left: solid var(--farve2) 10px;
}

/* CV overskrift */
.cv h2 {
  font-family: mulish;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

/* CV tekst */
.cv p {
  font-size: 1rem;
  font-family: poppins;
}

/* CV skole og detalje */
.dd {
  font-weight: 700;
}

/* CV årstal */
.cv_liste dt {
  font-weight: 700;
}

/*  */
.cv_liste dd {
  margin: 0 0 1rem 2rem;
}

/* CV ekstra info */
.dd_info {
  font-weight: 300;
  margin: 0 0 0 0rem;
}

/* tegninger */
.tegning {
  max-height: 350px;
  width: auto;
}

/* portræt */
/* .portraet {
  width: 100%;
  max-width: 180px;
} */

/* personlig info */

/* det store grid med foto */
.id_grid {
  display: grid;
  grid-template-columns: 250px 506px;
  gap: 3rem;
  max-width: 800px;
  margin-inline: auto;
}

/* det lille grid med tekst */
.id_grid dl {
  display: grid;
  grid-template-columns: 90px 400px;
  gap: 1rem;
  padding: 0 0 0 1rem;
  border-left: solid var(--farve2) 10px;
  /* max-width: 280px; */
}

.id_grid dd,
.id_grid dt {
  font-family: poppins;
  font-size: 1.5rem;
}

.id_grid dd {
  font-weight: 600;
}

.id_grid dt {
  font-weight: 300;
}

/* img i om mig tekst */
.om_mig_grid img {
  max-width: 250px;
}

/* om mig tekstens max width */
.om_mig_tekst {
  border-left: solid var(--farve2) 10px;
  padding: 0 0 0 1.5rem;
  max-width: 600px;
}

.om_mig_tekst p {
  font-family: mulish;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@media (max-width: 600px) {
  /* mindre tekst på om mig_teksten */
  .om_mig_tekst p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* ændring i stor id grid */
  .id_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 3rem; */
    max-width: 800px;
    margin-inline: auto;
  }

  /* det lille grid med tekst */
  .id_grid dl {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .dd_mrg {
    margin: 0 0 1rem 0;
  }

  /* mindre tekst i id tekst */
  .id_grid dd,
  .id_grid dt {
    font-family: poppins;
    font-size: 1rem;
  }

  /* hvid baggrund tekst padding top*/
  .hvid_baggrund {
    margin: 0 0 6rem;
    padding: 1rem 1rem 3rem 0;
  }
  /* plakat i midten af side */
  .om_mig_grid img {
    margin-inline: auto;
    margin-top: 3rem;
  }
  /* CV og tegninger flex */
  .tegninger_cv_grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (min-width: 600px) {
  .om_mig_grid img {
    margin-top: 3rem;
  }
  /* det store grid med foto */
  /* ændring i stor id grid */

  /* SENSET ÆNDRET */
  /* ændring i stor id grid */
  .id_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 3rem; */
    max-width: 800px;
    margin-inline: auto;
  }

  /* det lille grid med tekst */
  .id_grid dl {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .dd_mrg {
    margin: 0 0 1rem 0;
  }

  /* mindre tekst i id tekst */
  .id_grid dd,
  .id_grid dt {
    font-family: poppins;
    font-size: 1.2rem;
  }
  /* SENEST ÆNDREDE  */

  /* tegninger */
  /* .tegning {
    max-height: 200px;
    width: auto;
  } */
  /* CV og tegninger flex */

  /* .tegninger_cv_grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  } */
}

@media (min-width: 992px) {
  .om_mig_grid {
    display: grid;
    grid-template-columns: 650px 250px;
    gap: 2rem;
    max-width: 932px;
    margin: 2rem 0 0 0;
    margin-inline: auto;
  }

  .om_mig_grid img {
    margin-top: 0rem;
  }

  /* ændring i stor id grid */
  .id_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 3rem; */
    max-width: 800px;
    margin-inline: auto;
  }

  /* CV og tegninger flex */
  .tegninger_cv_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* SENEST ÆNDREDE */

  /* det lille grid med tekst */
  .id_grid dl {
    display: grid;
    grid-template-columns: 90px 400px;
    gap: 1rem;
    padding: 0 0 0 1rem;
    border-left: solid var(--farve2) 10px;
    /* max-width: 280px; */
  }

  .dd_mrg {
    margin: 0;
  }
}

/* ----------- test af tegning med cv */

/* tegninger med cv grid */
/* .tegninger_cv_grid {
  display: flex;
  justify-content: space-between;
} */

/* 

.hvid_baggrund {
  margin: 0 0 6rem;
  padding: 2rem 1rem 3rem 0;


*/
