/*----------------- Reset -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------------- CSS properties -----------------------*/

html {
  /* baggrundsfarve */
  --baggrundsfarve: #ffb7c7;

  /* blå */
  --farve2: #0157ff;
}
/* ----------------------- HTML ------------------------- */
html {
  scroll-behavior: smooth;
}

/* ----------------------- CSS animationer ------------------------- */

.pil_ani {
  animation-name: pil_ani_kf;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes pil_ani_kf {
  0% {
  }
  100% {
    translate: 0 110%;
  }
}

/*----------------- Body -----------------------*/
body {
  background-color: var(--baggrundsfarve);
}

/*----------------- Main -----------------------*/

main {
  /* Hvorfor?vi ved men stadig */
  max-width: 1250px;
  /* så margin fordeles lige på højre og venstre */
  margin: 4rem auto 10rem auto;

  /* OBS - hvordan ved banner? 
  undersøg eller lappeløsning 
  padding kun på mobil(tablet)*/
  padding: 0 1rem 0 1rem;
}

/*----------------- Footer -----------------------*/
footer {
  background-color: white;
  padding: 4rem 0 4rem 1.5rem;
}

footer p {
  font-family: poppins;
}

/*----------------- Forside -----------------------*/
/* titelskift på forside */
.portefolio_titel {
  text-align: right;
  border-right: solid 13px var(--farve2);
  font-family: poppins;
  /* rgb(64, 0, 255); */
}

/*-------- Vaelg Tema ------------*/

/* blå linje under tema x samt bredde */
.temax {
  border-bottom: solid 10px var(--farve2);
  width: 230px;
}

/* tekststyle på tema x */
.temax p {
  font-family: poppins;
  font-weight: 700;
  line-height: 1.2;
  font-size: 3.7rem;
  text-align: center;
}

/* om mig forside */
#ommig_tekst_mindre {
  font-size: 3.5rem;
  padding: 0 0 3.84px 0;
}

/*  tema linket er blot sort  */
.vaelg_tema a {
  text-decoration: none;
  color: black;
}

/* DEN RIGTIGE */
.ramme_og_filter {
  aspect-ratio: 357/260;
  width: 230px;
  overflow: hidden;
  filter: grayscale(100%);
}

.ramme_og_filter img {
  transition: ease-out 0.3s;
  /* prøver at se om de fylder rammen ud med height på 100%
  Ja det virker, men billederne ser ikke lækre ud */
  height: 100%;
  width: auto;
}

/*--- tema x hover--- */

.temax:hover .ramme_og_filter {
  filter: none;
}

.temax:hover img {
  transform: scale(1.2);
}
/* 
Ser ikke fedt ud
.temax:hover p {
  color: var(--farve2);
}

.temax:hover {
  border-bottom: solid 10px black;
} */

.pil_forside {
  width: 120px;
  margin: 1rem 0 0 0;
  margin-inline: auto;
}

/* -------------------- Tema siderne ---------------------- */
/* ------ H1 ----------- */
h1 {
  font-family: poppins;
  text-align: center;
}
/* ---------- Tema sider tekst---------------------- */

/* --- Hvid baggrund rundt om tekst */
.hvid_baggrund {
  background-color: white;
  width: 100%;
  padding: 1rem 0 5rem 0;
}

/* --- div rundt om overskrift og teksten ---*/
.tema_tekst_og_border {
  /* blå border */
  border-left: solid var(--farve2) 10px;
  padding: 0 0 0 1.5rem;
  max-width: 900px;
  margin-inline: auto;
}

/* --- tekst overskriften --- */
.tema_overskrift {
  font-family: poppins;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

/* --- selve brødteksten --- */
.tema_tekst p {
  font-family: mulish;
  line-height: 1.5;
}
/* - Løesning og proces overskrifter */
.loes_pro_overskrift {
  font-family: poppins;
  font-size: 2.5rem;
}

/* ----- Loesning ------- */

.foto_erstatning {
  background-color: antiquewhite;
  aspect-ratio: 2.7/1;
  max-width: 100%;
}

/* loesning grid */
.loesning_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 0 6rem 0;
}

/* knapper */
.knap a {
  font-family: poppins;
  font-size: 1.4rem;
  color: var(--farve2);
  text-decoration: none;
  padding: 0.8rem 0;
}

.knap {
  display: grid;
  place-content: center;
  margin: 0 0 1rem 0;
  width: 100%;
  border: solid 6px var(--farve2);
}

/* knap hover */
.knap:hover {
  background-color: var(--farve2);
}

.knap:hover a {
  color: white;
}

/* ----- Proces ------- */
.proces_grid p {
  font-size: 1.5rem;
  font-family: poppins;
  padding: 0 0 0 1rem;
  border-left: solid 10px var(--farve2);
}

.proces_grid span {
  font-weight: 800;
}

/*-- ekstra padding melllem forskellige procesdele */
.proces_ekstra_pad {
  padding: 0 0 3rem 0;
}

/* proces menu */
/* lav diplay block og flex på den, eller sæt i div?, nej  */
.proces_menu {
  margin: 0 0 1rem;
}
.proces_menu a {
  font-family: poppins;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}

/*----------------- Mobil -----------------------*/
@media (max-width: 600px) {
  /*------- forside -------*/
  .portefolio_titel {
    padding-right: 1rem;
    border-right: solid 8px var(--farve2);
  }
  .portefolio_titel p {
    font-size: 2.4rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 0.9rem;
  }

  .pil_forside {
    width: 80px;
  }
  /* vælg tema på forsiden */
  .vaelg_tema {
    max-width: 230px;
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
  }

  .temax {
    margin: 0 0 5rem 0;
  }
  /* ---------------- tema siderne ------------- */
  /* ----- H1 ------ */
  h1 {
    font-size: 4rem;
    margin-bottom: 7rem;
  }
  /* ----- Løsning ----- */
  .loesning_grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  /* ----- Proces ----- */
}
/*----------------- Tablet -----------------------*/
@media (min-width: 600px) {
  /*---------- forside ------------*/
  .portefolio_titel {
    padding-right: 2rem;
    border-right: solid 10px var(--farve2);
  }
  .portefolio_titel p {
    font-size: 5rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 1.8rem;
  }
  /* ---- vaelg tema ----- */
  .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(3, auto);
    gap: 6rem;
    width: 100%;
    /* afstand til pilen er både padding og margin da, menuen ellers skjuler vaelg_tema */
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
    max-width: 556px;
  }

  /* ---------------- tema siderne ------------- */
  /* ----- H1 ------ */
  h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  /* ---tema tekst--- */
  .hvid_baggrund {
    margin: 0 0 5rem;
  }

  /* løsning */
  .loesning_grid {
    margin: 0 0 5rem 0;
  }
}
/*----------------- Desktop -----------------------*/
@media (min-width: 992px) {
  /*------- forside -------*/
  .portefolio_titel {
    padding-right: 3rem;
  }
  .portefolio_titel p {
    font-size: 8rem;
    /* Der er noget luft omkring paragraf som gør den blå border ikke stopper præcis ved bogstaverne. */
    line-height: 0.7155;
    margin-bottom: 2.2rem;
  }
  /*------- Vaelg tema grid -------*/
  .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, auto);
    gap: 6rem;
    width: 100%;
    /* afstand til pilen er både padding og margin da, menuen ellers skjuler vaelg_tema */
    padding: 6rem 0 0 0;
    margin: 4rem 0 0 0;
    margin-inline: auto;
    max-width: 882px;
  }
  /* ---------------- tema siderne ------------- */
  /* ----- H1 ------ */
  h1 {
    font-size: 8rem;
    margin-bottom: 1.5rem;
  }
  /* tema tekst grid */
  .tema_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 900px;
  }
  /* --- Hvid baggrund eunder tekst */
  .hvid_baggrund {
    margin: 0 0 6rem 0;
  }

  /* .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, auto);
    gap: 5rem;
    width: 950px;
    margin-inline: auto;

    /* max-width: 900px; */
}
/* display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, auto);
  gap: 5rem;
  max-width: 900px;
  margin-inline: auto; */

/* .vaelg_tema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 3rem;
    width: 100%;
    margin-inline: auto;

    /* max-width: 900px; */

/* proces og løsning og knap */

/* .loesning_container {
  max-width: 500px;
  padding: 0 1.5rem 0 0;
  border-right: solid 10px var(--farve2);
}
.loesning_container h2 {
  font-size: 2rem;
  text-align: right;
}

.proces_container {
  max-width: 500px;
}

.proces_container img {
  max-width: 500px;
}
*/

/* .proces_loesning_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
  gap: 80px;
  max-width: 1080px;
} */

/*---- test af proces grid ----*/
@media (min-width: 600px) {
  .proces_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
